.menu
  position absolute
  top 0
  left 0
  z-index 10
  width: 250px;
  height 100%
  background-color: #22262a;
  color: #a6adb3;
  .menu-avatar
    width 45%
    margin 20px auto
    border-radius 50%
    overflow hidden
  .menu-title
    margin 0 0 20px
    line-height 25px
    font-size 14px
    color #ffffff
    text-align center
  .end-menu
    position absolute
    bottom 0
    width 100%
    line-height 50px
    text-align center
    font-size 16px
    color #7e8c8d
  li
    padding 0 25px
    line-height 40px
    .border-1px
      border-1px(red)
    .iconfont
      padding-right 8px
    
